<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task create</title>
</head>
<body>
    <h1>Title</h1>
    <form action="/task/add" method="post">
        {% csrf_token %}

        <div>
            <label for="desc">Desc</label>
            <input type="text" id="desc" name="desc">
        </div>

        <div>
            <label for="status">Status</label>
            <input type="text" id="status" name="status">
        </div>

        <div>
            <label for="status">Date</label>
            <input type="text" id="date" name="status">
        </div>

        <div>
            <input type="submit">
        </div>


    </form>
</body>
</html>