{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h1>Добавления задачи</h1>
            <form action="/task/add" method="post">

                <div class="form-comp">
                    <label for="desc">Описание</label>
                    <input type="text" id="desc" name="desc" required class="form-control form-control-lg">
                </div>

                <div class="form-comp">
                    <select name="status">
                        <option value="">Выберите статус</option>
                        <option value="new">Новый</option>
                        <option value="in process">В процессе</option>
                        <option value="done">Сделано</option>
                    </select>
                </div>

                <div class="form-comp">
                    <label for="date">Дата</label>
                    <input type="text" id="date" name="date" required placeholder="{{ task.date }}" class="form-control form-control-lg">
                </div>

                <div class="form-comp">
                    <label for="author">Автор</label>
                    <input type="text" id="author" name="author" required class="form-control form-control-lg">
                </div>

                <div class="form-comp">
                    <input type="submit" class="btn btn-primary" value="Отправить">
                </div>

            </form>
    </div>

{% endblock content %}